---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
---
<Layout title="Acerca de mi | Alex Cuadro | Astro">
    <Nav></Nav>
	<main>
		<h1>Acerca de <span class="text-gradient">mi</span></h1>
		<p class="instructions">
			Soy Alex Cuadro, docente de Historia uruguayo con más de 2 años de experiencia.
		</p>
	</main>
</Layout>
